/* 
    Document   : mystyle
    Created on : 13-nov-2013, 23:13:29
<<<<<<< HEAD
    Author     : AxelRodriguez, NicolasOyarzun, PedroSalas
=======
    Author     : AxelRodriguez, Nicolas Oyarzun, Pedro Salas
>>>>>>> b737e510bddecfc4313421c331884610b7e57e92
    Description:
        Hoja de estilos del sitio.
*/

<<<<<<< HEAD
header{
    font-size: 38px;
    font-family: monospace;
    color: #dfe5d7;
    padding: 10px;
    text-shadow: 5px 5px 5px #000;
}
.cbody1{
    background: #a90329;
=======
.cbody1{

background: #a90329;
    /*background-color:#F0F0F0;*/
>>>>>>> b737e510bddecfc4313421c331884610b7e57e92
}
.cbody2{
    background-color:#258dc8;
}
.cbody3{
<<<<<<< HEAD
    background-color:#258dc8;
=======
    background-color:#a90329;
>>>>>>> b737e510bddecfc4313421c331884610b7e57e92
}
p{
    color:black; font-family:arial;
}
.Pflotados{
    color:white; font-family: arial
}
<<<<<<< HEAD
A:link{
    text-decoration:none;color:#0000cc;
} 
A:visited{
    text-decoration:none;color:#ffcc33;
} 
A:active{
    text-decoration:none;color:#ff0000;
} 
A:hover{
    text-decoration:underline;color:#999999;font-weight:bold
} 
.sangria{
    text-indent: 1.5em;
}
#contenedor-mains, aside{
    max-width: 100%;
    display: inline-block;
    vertical-align: top;    
}
#contenedor-mains{
    width:75%;
    margin: 0 auto;
    vertical-align: top;
}
.flotados{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,0.7)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=0 );
    width:32%;
    height: 500px;
    margin:5px;
    float:left;
    text-align: center;
}
.flotados:hover
{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.4)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#66000000',GradientType=0 );
}

.footerfl{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,0.7)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=0 );
    width:98%;
    height: 45px;
    margin:5px;
    float:left;
    text-align: center;
    vertical-align: center;
=======
a{
    color:black; font-family:arial;
}
#contenedor-mains, aside{

    max-width: 100%;
    display: inline-block;
    vertical-align: top;    
   
}
#contenedor-mains{
    width:75%;
    margin: 0 auto;
    vertical-align: top;
    
}
.flotados{
background: -moz-linear-gradient(top,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,0.7)));
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%);
background: -o-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%);
background: -ms-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%);
background: linear-gradient(to bottom,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=0 );
    width:32%;
    height: 400px;
    margin:5px;
    float:left;
    text-align: center;
>>>>>>> b737e510bddecfc4313421c331884610b7e57e92
}
.clear{
    clear:both;
}
<<<<<<< HEAD
=======

>>>>>>> b737e510bddecfc4313421c331884610b7e57e92
.divnueva {
    max-width:90%;
    height:400px;
    margin: auto;
}
<<<<<<< HEAD
aside{
    width: 23%;
}
footer{
    height: 50px;
    text-align: left;
    text-shadow: 
}
.animado{
    position:relative;
    animation:myfirst 5s;
    -webkit-animation:myfirst 5s; /* Safari and Chrome */
}
=======

aside{
    width: 20%;
}
>>>>>>> b737e510bddecfc4313421c331884610b7e57e92
