/* 
    Document   : mystyle
    Created on : 13-nov-2013, 23:13:29
    Author     : AxelRodriguez
    Description:
        Purpose of the stylesheet follows.
*/

p {text-align:center; color:black; font-family:arial;}

.center {text-align:center;}

